td {
border: none;
}
tr:nth-child(even){ 
    background-color: darkgreen;
}
tr:nth-child(odd){
    background-color: rgb(12, 212, 12);
}
table {
    border-collapse: collapse;
    width: 300px;
    border: 1;
}